.body{
    display: flex;
    justify-items: center;
    gap: 1em;
    width:100%;
    padding:0;
}
/* .badge{
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
} */
/* .button{
    background-color: lightgray;
} */

.prix{
    margin : 2px;
}
